main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 250, 250, 0.701);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    font-size: 1.2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: rgb(2, 67, 97);
    border-radius: 8px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(0, 46, 0);
    border-radius: 8px;
    transition: all 2s ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(../img/logo.png);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: .5;
}

.new-game {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 25px auto;
    background-color: #009578;
    border: 2px solid #000f00;
    padding: 3px 8px;
    border-radius: 8px;
    width: 50%;
}


@media screen and (max-width: 426px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    main {
        align-items: initial;
        justify-content: initial;
        padding: 8px 20px 50px;
    }
}