.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login__header h1 {
    color: #282828;
    font-size: 1.5em;
}

.login__input {
    border: 2px solid #282828;
    border-radius: 8px;
    color: #282828;
    font-size: 1em;
    margin-bottom: 15px;
    outline: none;
    padding: 15px;
    max-width: 300px;
    width: 100%;
}

.login__button {
    background-color: #009578;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 15px;
    max-width: 300px;
    width: 100%;
}

.login__button:disabled {
    background: rgb(243, 179, 179);
    color: rgba(56, 55, 55, 0.619);
    cursor: auto;
}

form span {
    margin-top: 50px;
}

form span a {
    color: #009578;
}